<div class="container">
    <div class="row">
        <h3>Add Movies </h3>
        <form #form="ngForm" (ngSubmit)="addMovie()">
            <div class="mb-3">
                <label for="movietoadd" class="form-label">Movie Name</label>
                <input type="text" class="form-control" id="movietoadd" aria-describedby="emailHelp" name="movietoadd" [(ngModel)]='newMovie.movieName'>
            </div>
            <button type="submit" class="btn btn-primary">ADD</button>
        </form>
    </div>
    <div class="row">
        <h3>Movies To Watch</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Movie Name</th>
                    <!-- <th scope="col">Movie Description</th> -->
                    <th scope="col">Watched?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies">

                    <th [class.stroke]="movie.watched">{{ movie.movieName}}</th>
                    <!-- <td>{{ movie.movieDescription }}</td> -->
                    <td><input type="checkbox"
                        [checked]="movie.watched"
                         (change)="onWatchedChange(movie.id,movie)"></td>
                    <td><a [routerLink]="[]" (click)="deleteMovie(movie.id)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>